<div class="menu">
    <span class="menuitem">
        <a href="/">Home</a>
    </span>
    <span class="menuitem">
        <a href = "/books/list">Books</a>
    </span>
    <span class="menuitem">
        Restaurants
    </span>
    <span class="menuitem">
        Recipes
    </span>
    <span class="menuitem">
        Todos
     </span>
    <span class="menuitem">
        <form id="logoutform" action="/logout" method="POST">
            <a href="javascript:{}" onclick="document.getElementById('logoutform').submit();return false;">
                Logout
            </a>
        </form>
    </span>
</div>
